-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    -# First param makes a hash with a key for every checked box
    -# Second param determines what value this hash has for its key
    -# Third param determines if the box should be checked our not
    = check_box_tag "ratings[#{rating}]", true, @rating_filter[rating]
  = submit_tag 'Refresh'

%table#movies
  -# Specifies the headers
  %thead
    %tr
      -# The first part sets class of the title to hilite if
      -# params[:order] == title
      -# Second part creates a link to the same page, except passes
      -# a value of into the params hash
      %th{:class => params[:order] == 'title' ? "hilite" : ""}= link_to "Movie Title", movies_path(:order=>'title', :ratings =>params[:ratings])
      %th Rating
      %th{:class => params[:order] == 'date' ? "hilite" : ""}= link_to "Release Date", movies_path(:order=>'date', :ratings =>params[:ratings])
      %th More Info

  -# Specifies the columns
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
